/* FULL PAGE */
title {
  margin-left: 50%;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  font-family: fantasy;
  font-style: italic;
  background-color: white;
  height: 100vh;
}

main {
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100vh;
}

/* CENTER SECTION */
h1 {
  color: black;
  font-size: 30px;
  pading-bottom: 5%;
}

.player-side {
  display: flex;
  justify-content: center;
  width: 40%;
}

.middle-section {
  align-items: center;
  background: #56CFE1;
  /* border-left: 3px solid black; */
  /* border-right: 3px solid black; */
  /* border-top: 3px solid black; */
  /* border-bottom: 3px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

 .game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 50%;
  justify-content: center;
  width: 60%;
}

.game-board-box {
  align-items: center;
  background: white;
  display: flex;
  font-size: 70px;
  height: 33%;
  justify-content: center;
  width: 30%;
  text-align: center;
  background-color: #4390D9;
}

.column {
  border-right: 5px solid black;
}

.row {
  border-bottom: 5px solid black;
}

/* SIDE COLUMNS */
h2 {
  color: black;
  font-size: 25px;
}

.player-column {
  display: flex;
  justify-content: center;
  width: 25%;
}

.player-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.disable-click {
  pointer-events: none;
}

.player-mermaid {
  background-color: #5E60CE;
}

.player-fish {
  background-color: #80FFDB;
  border
}

.mermaid{
  height: 130px;
  padding-top: 14px;
}

.fish {
  padding-top: 30px;;
  height: 120px;
  /* border-radius: 30px;; */
}
