title {
  text-align: center;
}

body {
  font-family: fantasy;
  /* font-style: italic; */
  background-color: #4390D9;
}

main {
  display: flex;
  height: 100vh;
}


h1 {
  color: black;
  font-size: 30px;
}

.player-side {
  display: flex;
  justify-content: center;
  width: 40%;
}

.middle-section {
  background: #56CFE1;
  align-items: center;
  width: 50%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
